$light-font: 'Roboto', sans-serif;
$bold-font: 'Inter', sans-serif;
$transition: all ease-in-out 0.1s;
$box-shadow1: #3b0000 1px 2px 21px;
$box-shadow2: #3b0000 1px 5px 30px;
$text-shadow: #3b0000 5px 6px 10px;
